:root {
    /* font styles */
    --ff-primary: 'Roboto', sans-serif;

    --fw-base: 400;
    --fw-bold: 700;
    --fw-x-bold: 900;

    --fs-12: .75rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-26: 1.625rem;
    --fs-32: 2rem;
    --fs-48: 3rem;
    --fs-64: 4rem;

    --clr-bg-primary: #000;
    --clr-bg-secondary: #1E1E1E;
    --clr-bg-btn: #7F95D1;
    --clr-bg-footer: rgba(255, 255, 255, .1);

    --clr-accent: rgba(205, 58, 21, 0.75);

    --clr-text-primary: #F9F4F5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-bg-primary);
    color: var(--clr-text-primary);
    font-family: var(--ff-primary);
}

header {
    background-image: url(../images/hero-bg-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4.5rem;
    position: relative;
    min-height: 100vh;
    border-bottom: 1px solid var(--clr-accent);
}

nav {
    background: rgba(0, 0, 0, .8)
}

img {
    display: block;
    max-width: 100%;
}

/* ===============
   Typography
   ===============*/

.logo {
    color: inherit;
    font-size: var(--fs-26);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    cursor: pointer;
    background: -webkit-linear-gradient(var(--clr-text-primary), var(--clr-accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.title {
    font-size: var(--fs-26);
    font-weight: var(--fw-base);
    margin-bottom: 3rem;
}

.open-menu {
    font-size: var(--fs-26);
}

.animate {
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

.title-accent {
    display: block;
    margin-left: 1.75rem;
}

.section-title {
    border-left: 1px solid var(--clr-text-primary);
    border-right: 1px solid var(--clr-text-primary);
    display: inline;
    font-size: var(--fs-32);
    font-weight: var(--fw-base);
    padding: 0 1rem;
}

.card-title {
    font-size: var(--fs-18);
}

.tech-icon {
    font-size: var(--fs-20);
}

.about-icon {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(var(--clr-text-primary), var(--clr-accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.blurb {
    font-size: var(--fs-26);
    width: 90%;
    margin: 2rem auto;
}

.about-text {
    font-size: var(--fs-26);
    margin-top: 2rem;
}

.blurb>span {
    font-weight: var(--fw-x-bold);
    letter-spacing: 2px;
}

.resume-link {
    color: inherit;
    display: block;
    max-width: 65%;
    margin: 1.5rem auto 4rem;
    transition: font-size .3s ease;
}

.resume-link:hover,
.resume-link:focus {
    font-size: 1.075rem;
    transition: font-size .2s ease;
}

footer>a>.fa-brands {
    color: var(--clr-text-primary);
    font-size: 1.5rem;
    transition: font-size .25s ease-in;
}

footer>a>.fa-brands:hover,
footer>a>.fa-brands:focus {
    cursor: pointer;
    transition: font-size .25s ease-in;
    background: -webkit-linear-gradient(var(--clr-text-primary), var(--clr-accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

/* ===============
   Layout
   ===============*/

.flex {
    display: flex;
}

.nav-bar {
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-accent);
}

.container {
    padding: 1.5rem;
}

.head-title-container {
    position: absolute;
    display: block;
    bottom: 8rem;
}

.project-grid {
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

#projects,
#about {
    text-align: center;
}

#about {
    margin-top: 4rem;
}

.arrow-container {
    position: absolute;
    bottom: 3rem;
    left: 50vw;
    text-align: center;
}

.invisible,
.hidden {
    visibility: hidden;
}

.project-card {
    margin: 0 auto;
    margin-top: 4rem;
    padding: .875rem;
    background: var(--clr-bg-secondary);
    border-radius: 10px;
    text-align: left;
    max-width: 300px;
    box-shadow: 0px 7px 12px 0px var(--clr-accent);
}

.card-img-container {
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.tech-container,
.title-container {
    justify-content: space-between;
    align-items: center;
}

.title-container {
    margin-bottom: 1.5rem;
}

.about-container {
    padding: 2rem 1.5rem;
    background: var(--clr-bg-secondary);
    border-radius: 10px;
    margin: 4rem 0 2.5rem;
    box-shadow: 0px 7px 12px 0px var(--clr-accent);
}

.resume-container {
    text-align: center;
}

.socials-container {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--clr-accent);
}

.icon-container {
    gap: .75rem;
}

.socials-container {
    padding: 2rem;
    background: var(--clr-bg-footer);
}

/* ===============
   Header Section
   ===============*/

.background-opacity {
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    min-height: 100vh;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    list-style: none;
    z-index: 1;
    background: var(--clr-bg-primary);
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem;
    border-bottom: 1px solid var(--clr-accent);
}

.open-menu,
.close-menu {
    cursor: pointer;
}

.close-menu {
    margin-left: auto;
    font-size: var(--fs-26)
}

.nav-item {
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-size: var(--fs-24);
}

.nav-item a:hover,
.nav-item a:focus {
    border-bottom: 3px solid var(--clr-accent);
    padding-bottom: .25rem;
}

.down-arrow {
    max-width: 24px;
    margin: 0 auto;
    margin-bottom: .5rem;
}

/* ===============
   Main Section
   ===============*/

.card-img {
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.btn {
    min-width: 105px;
    background: var(--clr-accent);
    border: none;
    border-radius: 500px;
    color: var(--clr-text-primary);
    font-size: var(--fs-12);
    font-weight: var(--fw-base);
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-align: center;
}

.btn:hover,
.btn:focus {
    opacity: .8;
}

.logo:last-child {
    display: block;
    text-align: center;
    margin-bottom: 4rem;
}

.accent-line {
    content: " ";
    max-width: 50px;
    margin: 0 auto;
    border-bottom: 3px solid var(--clr-accent);
}

@media (min-width: 750px) {
    header {
        background-image: url(../images/hero-bg-desktop.jpg);
        min-height: 100vh;
        margin-bottom: 6.5rem;
    }

    /* ===============
       Typography
       ===============*/

    .logo {
        font-size: var(--fs-26);
        font-weight: var(--fw-bold);
    }

    .title {
        font-size: var(--fs-64);
        font-weight: var(--fw-base);
        margin-bottom: 3rem;
    }

    .open-menu {
        visibility: hidden;
    }

    .resume-link {
        max-width: 20%;
    }

    /* ===============
       Layout
       ===============*/
    .container {
        padding: 2rem;
    }

    .project-grid {
        max-width: 50%;
        margin: 0 auto;
    }

    .nav-menu-container {
        display: none;
    }

    .hidden {
        visibility: initial;
    }

    .about-container {
        max-width: 65%;
        margin: 6rem auto 2.5rem;
    }

    #about {
        margin-top: 6.5rem;
    }

    .logo:last-child {
        margin-bottom: 5.5rem;
    }

    .blurb {
        width: 60%;
    }


    /* ===============
       Header Section
       ===============*/

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
        position: initial;
        gap: 1.5rem;
        background: none;
        padding: 0;
        border: none;
    }

    .down-arrow {
        min-width: 36px;
    }

    /* ===============
       Footer Section
       ===============*/

    footer>a>.fa-brands {
        font-size: 2rem;
    }
}